body{
  background-color: black;
  color: #ffff;
}

h2{
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: 20px;
  
}
h2:hover{
  border-bottom: 1px solid rgba(0, 255, 149, 0.74);
}

th, td{
  color: #ffff;
}

